html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: lightgray;
    height: 100%;
    margin: 0px 8px;
    min-width: 1100px;
    min-height: 800px;
    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.header-option {
    display: flex;
}

.notification-bell {
    font-size: larger;
    color: #FF4500;
}

#notif-bell {
    color: black;
    text-align: center;
}

#user-option:hover, #add-group:hover, #group-options:hover, #speaker:hover, .notif-options:hover, #options:hover, #send-button:hover, #like-button:hover {
    color : #FF4500;
}

i {
    padding: 0px 10px;
    font-size: 28px;
}

#user-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
}

#user {
    color: teal;
}

.container {
    display: flex;
    flex: 1;
    background: white;
    margin-bottom: 8px;
}

.container-header, #like-button, #send-button {
    background: teal;
}

.small-info-text, .info-text, #like-button {
    color: white;
}

.small-info-text {
    padding: 10px 10px;
    font-size: 18px;
}

.info-text {
    padding: 15px 10px;
    font-size: 28px;
}

#chat-container {
    width: 65%;
    border-right: 2px solid lightgray;
    display: flex;
    flex-direction: column;
}

#group-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.available-group-header {
    display: flex;
    justify-content: space-between;
}

.group-options {
    display: flex;
    color: white;
    padding: 15px 10px;
}

.scrollable-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#like-button {
    display: flex;
    align-items: center;
}

#message-input {
    flex: 1;
    padding: 0px 8px;
}

.input-container {
    display: flex;
}

.group {
    display: flex;
    flex: none;
    padding: 10px 20px;
    align-items: center;
    margin: 0px 20px;
}

.lightgray-background {
    background: lightgray;
}

.smoke-background {
    background: whitesmoke;
}

.group-text {
    color: rgb(0, 119, 255);
    padding: 10px 10px 10px 20px;
    font-size: 18px;
    font-weight: bold;
}

.teal-icon {
    color: teal;
}

.orange-icon {
    color: #FF4500;
}

.clickable {
    cursor: pointer;
}

.message {
    padding: 10px;
    width: 40%;
}

.own-message {
    align-self: flex-end;
    text-align: right;
}

.admin-message {
    width: 60%;
    padding: 10px;
    align-self: center;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.other-message {
    align-self: flex-start;
    text-align: left;
}

.text-message {
    border-radius: 10px;
    padding: 8px;
    overflow-wrap: break-word;
}

.own-message > .text-message {
    background: rgb(0, 119, 255); 
    color: white;   
}

.other-message > .text-message {
    background: lightgray;
}

.date {
    padding: 0px 15px;
    font-style: italic;
    font-size: 12px;
}

.sender {
    color: rgb(150, 150, 150);
}

.notif-text {
    color: #FF4500;
    font-weight: bold;
    text-align: center;
}

/*This is for the modals*/

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: teal;
    color: white;
}

.modal-body {
    padding:  10px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input-header {
    padding-bottom: 4px;
}

#name-input {
    text-align: center;
    width: 50%;
}

.modal-footer {
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
}

.confirm-button {
    text-align: center;
}