html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: lightgray;
    height: 100%;
    margin: 0px 8px;
    min-width: 1100px;
    min-height: 800px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.header-option {
    display: flex;
}

i {
    padding: 0px 10px;
    font-size: 28px;
}

#user-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
}

#user {
    color: green;
}

.container {
    display: flex;
    flex: 1;
    background: white;
    margin-bottom: 8px;
}

.container-header, #like-button, #send-button {
    background: teal;
}

.small-info-text, .info-text, #like-button {
    color: white;
}

.small-info-text {
    padding: 10px 10px;
    font-size: 18px;
}

.info-text {
    padding: 15px 10px;
    font-size: 28px;
}

#chat-container {
    width: 65%;
    border-right: 2px solid lightgray;
    display: flex;
    flex-direction: column;
}

#group-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.available-group-header {
    display: flex;
    justify-content: space-between;
}

.group-options {
    display: flex;
    color: white;
    padding: 15px 10px;
}

.scrollable-container {
    flex: 1;
    overflow-y: auto;
}

#like-button {
    display: flex;
    align-items: center;
}

#message-input {
    flex: 1;
}

.input-container {
    display: flex;
}

.group {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    margin: 0px 20px;
}

.lightgray-background {
    background: lightgray;
}

.smoke-background {
    background: whitesmoke;
}

.group-text {
    color: rgb(0, 119, 255);
    padding: 10px 10px 10px 20px;
    font-size: 18px;
    font-weight: bold;
}

.teal-icon {
    color: teal;
}

.orange-icon {
    color: orangered;
}

.clickable {
    cursor: pointer;
}