html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: lightgray;
    height: 100%;
    margin: 0px 8px;
    min-width: 1100px;
    min-height: 800px;
    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.header-option {
    display: flex;
}

.notification-bell {
    color: #FF4500;
}

#user-option:hover, .notif-bell:hover, #add-group:hover, #group-options:hover {
    color : #FF4500;
}

.mute-bell {
    color : #FF4500;
}

.mute-bell:hover {
    color: black
}

i {
    padding: 0px 10px;
    font-size: 28px;
}

#user-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
}

#user {
    color: green;
}

.container {
    display: flex;
    flex: 1;
    background: white;
    margin-bottom: 8px;
}

.container-header, #like-button, #send-button {
    background: teal;
}

.small-info-text, .info-text, #like-button {
    color: white;
}

.small-info-text {
    padding: 10px 10px;
    font-size: 18px;
}

.info-text {
    padding: 15px 10px;
    font-size: 28px;
}

#chat-container {
    width: 65%;
    border-right: 2px solid lightgray;
    display: flex;
    flex-direction: column;
}

#group-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.available-group-header {
    display: flex;
    justify-content: space-between;
}

.group-options {
    display: flex;
    color: white;
    padding: 15px 10px;
}

.scrollable-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#like-button {
    display: flex;
    align-items: center;
}

#message-input {
    flex: 1;
    padding: 0px 8px;
}

.input-container {
    display: flex;
}

.group {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    margin: 0px 20px;
}

.lightgray-background {
    background: lightgray;
}

.smoke-background {
    background: whitesmoke;
}

.group-text {
    color: rgb(0, 119, 255);
    padding: 10px 10px 10px 20px;
    font-size: 18px;
    font-weight: bold;
}

.teal-icon {
    color: teal;
}

.orange-icon {
    color: #FF4500;
}

.clickable {
    cursor: pointer;
}

.message {
    padding: 10px;
    width: 40%;
}

.own-message {
    align-self: flex-end;
    text-align: right;
}

.admin-message {
    width: 60%;
    padding: 10px;
    align-self: center;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.other-message {
    align-self: flex-start;
    text-align: left;
}

.text-message {
    border-radius: 10px;
    padding: 8px;
    overflow-wrap: break-word;
}

.own-message > .text-message {
    background: rgb(0, 119, 255); 
    color: white;   
}

.other-message > .text-message {
    background: lightgray;
}

.date {
    padding: 0px 15px;
    font-style: italic;
    font-size: 12px;
}

.sender {
    color: rgb(150, 150, 150);
}

.notif-text {
    color: #FF4500;
    font-weight: bold;
}