.sondage-doodle {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    text-align: center;
    background: white;
    width: 1095px;
}
 .new-participant, .nb-participant, .date-and-time, .not-ticked-box, .ticked-box, .participant, .participant-header, .check, .sondage-doodle {
    border-style: solid;
    border-color: #d4dade
}

.nb-participant, .date-and-time, .participant-header, .sondage-doodle {
    border-width: 1px;
}

.new-participant, .not-ticked-box, .ticked-box, .participant, .check {
    border-width: 0px 1px;
}

 .new-participant {
    background: #91C8E9;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: left;
}

 .nb-participant {
    align-items: center;
    padding: 8px 0px;
}

.nb-participant svg {
    height: 23px;
    color: #3b97d3;
}

 .colored-number {
    color: #3b97d3;
    font-weight: 700;
    font-size: 25px;
}

.ticked-box {
    align-items: center;
    justify-content: center;
    background: #cdeaa1;
}

.ticked-box svg {
    color: #87c627;
    height: 30px;
    pointer-events: none;
}

 .not-ticked-box {
    background: #fcede9;
}

 .participant-header{
    text-align: left;
    justify-content: left;
    padding-top: 13px;
}

 .participants {
    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
    padding-left: 16px;
    color: #8696a2;
    font-weight: 600;
    font-style: normal;
}

 .participant {
    display: grid;
    grid-template-columns: auto 150px 60px;
    align-items: center;
}

 .avatar {
    padding: 0px 16px;
}

 input {
    border-radius: 8px;
    height: 40px;
}

 .date-and-time {
    padding: 16px 0px;
}

 .month {
    display: block;
    font-size: 16px;
    line-height: inherit;
    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
}

 .date {
    font-size: 26px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    margin: 4px 0;
    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
}

 .day-of-the-week {
    color: #5d6e79;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

 .start-time {
    text-align: center;
    padding: 2px 0px;
}

.check, .ticked-box{
    display: flex;
}

.check img, .ticked-box img {
    width: 100%;
    height: 100%;
}

.nom-participant {
    text-align: left;
}

.pen-container {
    display: grid;
    justify-items: center;
    height: 100%;
    align-items: center;
}

.pen-container:hover {
    background: #e7f5fb;
}

.pen-container:hover .pen {
    color: #3b97d3;
}

.pen {
    width: 18px;
    height: 18px;
    color: transparent;
}

.selected-option {
    background: #ebf7d4;
}

/* The actual popup */
.ticked-box .popuptext, .not-ticked-box .popuptext {
    visibility: visible;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
}
