.main-container {
    margin: 0 auto;
    width: 75%;
    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
}

.grid-container {
    display: grid;
}

.sondage-doodle {
    display: grid;
    grid-template-columns: 280px auto auto auto auto auto auto auto auto auto;
    text-align: center;
}
 .new-participant, .nb-participant, .date-and-time, .not-ticked-box, .ticked-box, .participant, .participant-header, .check, .sondage-doodle {
    border-style: solid;
    border-color: #d4dade
}

.nb-participant, .date-and-time, .participant-header, .sondage-doodle {
    border-width: 1px;
}

.new-participant, .not-ticked-box, .ticked-box, .participant, .check {
    border-width: 0px 1px;
}

 .new-participant {
    background: #91C8E9;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: left;
}

 .nb-participant {
    align-items: center;
    padding: 8px 0px;
}

.nb-participant svg {
    height: 23px;
    color: #3b97d3;
}

 .colored-number {
    color: #3b97d3;
    font-weight: 700;
    font-size: 25px;
}

.ticked-box {
    background: #cdeaa1;
}

.ticked-box svg {
    color: #87c627;
    height: 30px;
    pointer-events: none;
}

 .not-ticked-box {
    background: #fcede9;
}

 .participant-header{
    text-align: left;
    justify-content: left;
    padding-top: 13px;
}

 .participants {
    padding-left: 16px;
    color: #8696a2;
    font-weight: 600;
    font-style: normal;
}

 .participant {
    display: grid;
    grid-template-columns: auto 150px 60px;
    align-items: center;
}

 .avatar {
    padding: 0px 16px;
}

 input {
    border-radius: 8px;
    height: 40px;
}

 .date-and-time {
    padding: 16px 0px;
}

 .month {
    display: block;
    font-size: 16px;
    line-height: inherit;
    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
}

 .date {
    font-size: 26px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    margin: 4px 0;
    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
}

 .day-of-the-week {
    color: #5d6e79;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

 .start-time {
    text-align: center;
    padding: 2px 0px;
}

.check, .box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70px;
}

.check img, .ticked-box img {
    width: 100%;
    height: 100%;
}

.check:hover {
    cursor: pointer;
}

.nom-participant {
    text-align: left;
}

.pen-container {
    display: grid;
    justify-items: center;
    height: 100%;
    align-items: center;
}

.pen-container:hover {
    background: #e7f5fb;
    cursor: pointer;
}

.pen-container:hover .pen {
    color: #3b97d3;
}

.pen {
    width: 18px;
    height: 18px;
    color: transparent;
}

.selected-option {
    background: #ebf7d4;
}

#popup {
    background: white;
    width: 160px;
    border-radius: 6px;
    border: #d4dade groove 2px;
    padding: 8px 0px;
    position: absolute;
    top: -180px;
}

.popup-date-time {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 8px 8px;
    border-bottom: #d4dade 2px solid;
}

.popup-date {
    align-content: center;
}

.popup-time {
    align-content: center;
    padding: 0px 16px;
}

.popup-voter {
    display: block;
}

.popup-voter-option {
    color: #5d6e79;
}

.popup-vote {
    text-align: start;
    padding: 5px 10px;
}

.finish-button {
    margin-left: auto;
    margin-top: 4px;
}

.finish-button svg {
    height: 20px;
    color: #87c627;
}

.finish-button button{
    background-color: #3798D4;
    border: none;
    color: white;
    width: 140px;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 10px;
}
.finish-button button:hover {background-color: #61aedd}

.finish-button button:active {
  background-color: #61aedd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tabs ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.tabs li {
    padding: 0px 16px;
    cursor: pointer;
}

.tabs span {
    font-weight: 500;
    color: #434e57;
    font-size: large;
}

.active-tab {
    border-bottom: 2px solid #434e57;
}

