.sondage-doodle {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    text-align: center;
}

.new-participant {
    background: #91C8E9;
    vertical-align: middle;
}

.colored-number {
    color: #3b97d3;
    font-weight: 700;
    font-size: 25px;
}

.not-ticked-box {
    background: #fcede9;
    margin: 2px 3px;
}

.participants, .participant {
    text-align: left;
}

input {
    border-radius: 8px;
    height: 35px;
}

img {
    margin: auto;
}

.month {
    font-size: 16px;
}

.date {
    font-size: 26px;
    font-weight: 600;
}

.day-of-the-week {
    color: #5d6e79;
    font-weight: 500;
}